SYNAPSYS_OPENAI_API_KEY="sk-YOUR_ACTUAL_OPENAI_KEY_GOES_HERE"
SYNAPSYS_GEMINI_API_KEY="sk-YOUR_ACTUAL_GEMINI_KEY_GOES_HERE"
SYNAPSYS_MISTRAL_API_KEY="sk-YOUR_ACTUAL_MISTRAL_KEY_GOES_HERE"
SYNAPSYS_DEBUG="true"
MY_APP_CUSTOM_SETTING="some_value_for_my_app_only"